In [17]:
%%bash
mysql -uroot <<EOF
CREATE DATABASE IF NOT EXISTS tutorial_db;
USE tutorial_db;
CREATE TABLE IF NOT EXISTS sports (
  id INT AUTO_INCREMENT PRIMARY KEY,
  sport_name VARCHAR(50),
  players_per_team INT
);
INSERT INTO sports (sport_name, players_per_team) VALUES
  ('Futebol', 11),
  ('Basquete', 5),
  ('Vôlei', 6);
SELECT * FROM sports;
EOF

id	sport_name	players_per_team
1	Futebol	11
2	Basquete	5
3	Vôlei	6
4	Futebol	11
5	Basquete	5
6	Vôlei	6
7	Futebol	11
8	Basquete	5
9	Vôlei	6
10	Futebol	11
11	Basquete	5
12	Vôlei	6
13	Futebol	11
14	Basquete	5
15	Vôlei	6
16	Futebol	11
17	Basquete	5
18	Vôlei	6

In [18]:
%%bash
mysql -uroot <<EOF
USE tutorial_db;

-- 1) Apagar completamente a tabela e começar do zero
DROP TABLE IF EXISTS sports;

-- 2) Criar de novo com os três registros
CREATE TABLE sports (
  id INT AUTO_INCREMENT PRIMARY KEY,
  sport_name VARCHAR(50),
  players_per_team INT
);
INSERT INTO sports (sport_name, players_per_team) VALUES
  ('Futebol', 11),
  ('Basquete', 5),
  ('Vôlei', 6);

-- 3) Resetar a função antiga
DROP FUNCTION IF EXISTS get_players;

-- 4) Criar a função (versão simples de sub‑select que sempre retorna 1 linha)
DELIMITER //
CREATE FUNCTION get_players(sport VARCHAR(50))
  RETURNS INT
  DETERMINISTIC
  READS SQL DATA
RETURN (
  SELECT players_per_team
    FROM sports
   WHERE sport_name = sport
   LIMIT 1
);
//
DELIMITER ;

-- 5) Testar
SELECT get_players('Basquete') AS basquete_players;
EOF

basquete_players
5

In [19]:

!apt-get update -qq
!DEBIAN_FRONTEND=noninteractive apt-get install -qq -y mysql-server


!service mysql start


!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY ''; FLUSH PRIVILEGES;"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
 * Starting MySQL database server mysqld
   ...done.